.priorityItem {
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    touch-action: none;
    background-color: #fff;
    border: 2px solid #0c65ca;
    color: #0c65ca;
    border-radius: 20px;
    margin: 3px;
    padding: 5px;
    width: 50%;
    height: 3rem;
}

.priorityItemChecked {
    display: flex;
    align-items: center;
    justify-content: space-around;
    touch-action: none;
    background-color: #fff;
    border: 2px solid #0c65ca;
    color: #0c65ca;
    border-radius: 20px;
    margin: 2px;
    padding: 5px;
    width: 40%;
    text-decoration: line-through;
    opacity: 0.75;
}

.priorityLabel {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    touch-action: none;
    text-decoration: none;    
}

.priorityList {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    border-radius: 30px;
    margin: 5%;
    background-color: #a0c4ff;
    padding-bottom: 1%;
}


/* For bigger screens */
@media screen and (min-width: 768px) {
    .priorityList {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 35%;
        border-radius: 30px;
        margin: 1%;
        background-color: #a0c4ff;
        padding-bottom: 1%;
    }
}

.priorityContext {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-radius: 30px;
    margin: 0;
    padding-bottom: 1%;
}


/* For bigger screens */
@media screen and (min-width: 768px) {
    .priorityContext {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        border-radius: 30px;
        margin: 0;
        padding-bottom: 1%;
    }
}

.hideAndShow {
    background-color: #f5f5f5;
    border-color: #999999;
    color: #999999;
}

.hideAndShow:hover {
    background-color: #f5f5f5;
    color: #333;
    font-weight: lighter;
    border-color: #999999;
}