.toDoListStyle {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  border-radius: 30px;
  margin: 5%;
  background-color: #a0c4ff;
  color: #333333;
}

/* For bigger screens */
@media screen and (min-width: 768px) {
  .toDoListStyle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 35%;
    border-radius: 30px;
    margin: 1%;
    background-color: #a0c4ff;
    color: #333333;
  }
}

.toDoItemStyle {
  display: flex;
  align-items: center;
  touch-action: none;
  /* margin: 1%; */
}

button {
  font: inherit;
  cursor: pointer;
  background: #0c65ca;
  border: 1px solid #0c65ca;
  color: #FFF;
  padding: 0.25rem 0.5rem;
  border-radius: 15px;
  margin: 0.5rem auto;
}

button:hover {
  background: #0c65cab2;
  border-color: #0c65ca;
  transition: all 0.3s ease;
  text-shadow: 1px 0px 0px black;
}

.toDoItemInput {
  font: inherit;
  padding: 0.3rem;
  border-radius: 10px;
  margin: 0.1rem;
  border: 1px solid #011526;
  background-color: #fff;
  border: 2px solid #0c65ca;
  color: #0c65ca;
}

.toDoItemInput:focus {
  outline: none;
  border-color: #011526;
  background: #87ceeb;
  transition: all 0.3s ease;
}

.toDoDoneItem {
  text-decoration: line-through;
  opacity: 0.6;
  font: inherit;
  padding: 0.3rem;
  border-radius: 10px;
  margin: 0.1rem;
  background-color: #fff;
  border: 2px solid #0c65ca;
  color: #0c65ca;
}


/* Icons */
.trashIcon {
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0;
}

.trashIconButton {
  background: #ff705a;
  color: #FFF;
  padding: 2px;
  border-radius: 35%;
  margin-left: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.trashIconButton:hover {
  background: #f89181;
  border-color: #ff705a;
  transition: all 0.3s ease;
  text-shadow: 1px 0px 0px black;
}

.dragIcon {
  width: 17px;
  height: 17px;
}

.dragIconButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 17px;
  height: 17px;
  background: #696969;
  color: #FFF;
  border-radius: 35%;
  margin-left: 3px;
}

.dragIconButton:hover {
  background: #999999;
  border-color: #999999;
  transition: all 0.3s ease;
  text-shadow: 1px 0px 0px black;
}

/* Cool checkbox style begin*/
.toDoItemCheckboxStyle .checkbox {
  display: table-cell;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  align-items: center;
  text-align: center;
}

.toDoItemCheckboxStyle label {
  display: inline-block;
  color: #333333;
  cursor: pointer;
  position: relative;
  align-items: center;
  text-align: center;
}

.toDoItemCheckboxStyle label span {
  display: inline-block;
  position: relative;
  background-color: transparent;
  width: 25px;
  height: 25px;
  transform-origin: center;
  border: 2px solid #0c65ca;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 10px;
  transition: background-color 150ms 200ms, transform 350ms cubic-bezier(0.78, -1.22, 0.17, 1.89);
}

.toDoItemCheckboxStyle label span:before {
  content: "";
  width: 0px;
  height: 2px;
  border-radius: 2px;
  background: #333;
  position: absolute;
  transform: rotate(45deg);
  top: 13px;
  left: 9px;
  transition: width 50ms ease 50ms;
  transform-origin: 0% 0%;
}

.toDoItemCheckboxStyle label span:after {
  content: "";
  width: 0;
  height: 2px;
  border-radius: 2px;
  background: #0c65ca;
  position: absolute;
  transform: rotate(305deg);
  top: 16px;
  left: 10px;
  transition: width 50ms ease;
  transform-origin: 0% 0%;
}

.toDoItemCheckboxStyle label:hover span:before {
  width: 5px;
  transition: width 100ms ease;
}

.toDoItemCheckboxStyle label:hover span:after {
  width: 10px;
  transition: width 150ms ease 100ms;
}

.toDoItemCheckboxStyle input[type=checkbox] {
  display: none;
}

.toDoItemCheckboxStyle input[type=checkbox]:checked+label span {
  background-color: #0c65ca;
  /* transform: scale(1.25); */
}

.toDoItemCheckboxStyle input[type=checkbox]:checked+label span:after {
  width: 10px;
  background: #fff;
  transition: width 150ms ease 100ms;

}

.toDoItemCheckboxStyle input[type=checkbox]:checked+label span:before {
  width: 5px;
  background: #fff;
  transition: width 150ms ease 100ms;
}

.toDoItemCheckboxStyle input[type=checkbox]:checked+label:hover span {
  background-color: #3e98ff;
  /* transform: scale(1.25); */
}

.toDoItemCheckboxStyle input[type=checkbox]:checked+label:hover span:after {
  width: 10px;
  background: #fff;
  transition: width 150ms ease 100ms;
}

.toDoItemCheckboxStyle input[type=checkbox]:checked+label:hover span:before {
  width: 5px;
  background: #fff;
  transition: width 150ms ease 100ms;
}

/* Cool checkbox style end*/




/* Color Theme Swatches in Hex */
.CR---Shades-of-Teal-1-hex {
  color: #0c65ca;
}

.CR---Shades-of-Teal-2-hex {
  color: #146551;
}

.CR---Shades-of-Teal-3-hex {
  color: #007566;
}

.CR---Shades-of-Teal-4-hex {
  color: #589A8D;
}

.CR---Shades-of-Teal-5-hex {
  color: #8FC1B5;
}

/* Color Theme Swatches in Hex */
.dark-blue-green-teal-grunge-abstract-concrete-wall-texture-background,
-panoramic-background-1-hex {
  color: #011526;
}

.dark-blue-green-teal-grunge-abstract-concrete-wall-texture-background,
-panoramic-background-2-hex {
  color: #012E40;
}

.dark-blue-green-teal-grunge-abstract-concrete-wall-texture-background,
-panoramic-background-3-hex {
  color: #025959;
}

.dark-blue-green-teal-grunge-abstract-concrete-wall-texture-background,
-panoramic-background-4-hex {
  color: #02735E;
}

.dark-blue-green-teal-grunge-abstract-concrete-wall-texture-background,
-panoramic-background-5-hex {
  color: #038C65;
}