.App {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 0;
  background-color: #f2f2f2;
  color: #333333;
}

/* For smaller screens */
@media screen and (max-width: 768px) {
  .App {
    display: flex;
    flex-direction: column;
    flex: grow;
    margin: 0;
    color: #333333;
  }
  
  .appDiv {
    display: flex;
    justify-content: space-evenly ;
    flex-direction: column;
    align-items: center;
    height: max-content;
    min-height: 0;
    margin-bottom: 2rem;
    color: #333333;
  }  
}


/* For bigger screens */
@media screen and (min-width: 768px) {
  .appDiv {
    display: flex;
    flex: 1;
    justify-content: space-evenly ;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
    color: #333333;
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}