.footer {
  bottom: 0;
  display: flex;
  flex: none;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
  font-size: 1rem;
  font-weight: 100;
  font-family: 'Roboto', sans-serif;
  height: 3rem;
  margin-top: 2rem;
  background-color: #DDE6ED;
}


/* For smaller screens */
@media screen and (max-width: 768px) {
  .footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 1rem;
    text-align: center;
    background-color: #DDE6ED;
    font-size: 1rem;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
    height: 3rem;
    margin-top: 2rem;
  }
}

a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: blue;
}

a:focus {
  text-decoration: none;
  color: blue;
}

a:hover,
a:active {
  text-decoration: none;
  color: black
}