.headerDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #282c34;
  color: white;
  font-size: 1rem;
  font-weight: 100;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 2rem;  
}
